{% trans_default_domain 'FOSUserBundle' %}
   <iframe frameborder='0' height='465px' width='470px' scrolling='no' src='http://localhost:8888/WebGL/finished/' frameborder="0" allowfullscreen></iframe>
<div class="columns small-12 medium-4">
    <h1>Connexion</h1>
    {% if error %}
        <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input  name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" required="required" />

        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        <button class="button expanded" type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
    </form>
    <div class="columns small-12"><a href="{{ path('fos_user_resetting_request') }}">J'ai oublié mon mot de passe.</a></div>
</div>